@import "common/foundation/variables";

@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
input,
select,
textarea,
button {
  border-radius: 0;
  vertical-align: middle;
}
input::-ms-clear {
  display: none;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
body {
  background: #fff;
  direction: ltr;
  -webkit-text-size-adjust: none;
}
.os_mac body,
.os_mac th,
.os_mac td,
.os_mac input,
.os_mac select,
.os_mac textarea,
.os_mac button {
  letter-spacing: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  /*color:#118eff;*/
  text-decoration: none;
}
a:active {
  background-color: transparent;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "NanumSquareWeb-300";
  src: url($NanumSquareLeot) format("embedded-opentype"),
    url($NanumSquareLotf) format("opentype"),
    url($NanumSquareLwoff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquareWeb-400";
  src: url($NanumSquareReot) format("embedded-opentype"),
    url($NanumSquareRotf) format("opentype"),
    url($NanumSquareRwoff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquareWeb-500";
  src: url($NanumSquareReot) format("embedded-opentype"),
    url($NanumSquareRotf) format("opentype"),
    url($NanumSquareRwoff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NanumSquareWeb-600";
  src: url($NanumSquareBeot) format("embedded-opentype"),
    url($NanumSquareBotf) format("opentype"),
    url($NanumSquareBwoff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "NanumSquareWeb-700";
  src: url($NanumSquareBeot) format("embedded-opentype"),
    url($NanumSquareBotf) format("opentype"),
    url($NanumSquareBwoff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquareWeb-800";
  src: url($NanumSquareEBeot) format("embedded-opentype"),
    url($NanumSquareEBotf) format("opentype"),
    url($NanumSquareEBwoff) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "SamsungOneLatinWeb-400";
  src: url($SamsungOneLatinWeb-400) format("woff");
}
@font-face {
  font-family: "SamsungOneLatinWeb-500";
  src: url($SamsungOneLatinWeb-500) format("woff");
}
@font-face {
  font-family: "SamsungOneLatinWeb-600";
  src: url($SamsungOneLatinWeb-600) format("woff");
}
@font-face {
  font-family: "SamsungOneLatinWeb-700";
  src: url($SamsungOneLatinWeb-700) format("woff");
}
@font-face {
  font-family: "SamsungOneLatinWeb-800";
  src: url($SamsungOneLatinWeb-800) format("woff");
}

.header_nav ul button {
  display: block;
  position: relative;
  padding-right: 16px;
  margin-right: 35px;
  font-family: SamsungOneLatinWeb-400, NanumSquareWeb-400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

dd {
  display: block;
}

dt {
  display: block;
}

.hide {
  display: none;
}
caption,
legend,
.blind {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      padding: 6px 4px 6px 35px;
      color: $header_primary;
      //   font-size: $font-up-1;
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

// .d-header .header-buttons {
//     margin: 50px 500px 30px 0px;
// }

.d-header .header-buttons .custom-header-links {
  margin: 45px 130px 22px 0px;
}

@media screen and (max-width: 1230px) {
  .d-header .header-buttons .custom-header-links {
    margin: 40px 130px 22px 0px;
  }
}

@media screen and (min-width: 1231px) {
  .d-header .header-buttons .custom-header-links {
    margin: 40px 185px 22px 0px;
  }
}

.d-header #site-logo {
  max-height: 45px !important;
}

// .header-buttons{display:inline-block;margin:52px 0 15px 200px;}
// .header-buttons li{display:inline-block;}
.header-buttons ul a {
  font-family: SamsungOneLatinWeb-400, NanumSquareWeb-400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}
// .header-buttons ul a:hover{font-family:SamsungOneLatinWeb-500, NanumSquareWeb-500;color:#899bff;}
.header-buttons ul button {
  display: block;
  position: relative;
  padding-right: 16px;
  margin-right: 35px;
  font-family: SamsungOneLatinWeb-400, NanumSquareWeb-400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.dropHelp {
  display: none;
  position: fixed;
  top: 85px;
  background-color: #fff;
  width: 100vw;
  box-shadow: 2.5px 4.3px 5px rgba(85, 85, 85, 0.15);
  z-index: 500;
  //   width:100%;left:0;top:85px;background-color:#fff;;
}

.dropHelp li {
  display: inline-block;
}

.dropUsecase {
  display: none;
  position: fixed;
  top: 85px;
  background-color: #fff;
  width: 100vw;
  box-shadow: 2.5px 4.3px 5px rgba(85, 85, 85, 0.15);
  z-index: 500;
  //   width:100%;left:0;top:85px;background-color:#fff;;
}

.dropDocumentation {
  display: none;
  position: fixed;
  top: 85px;
  background-color: #fff;
  width: 100vw;
  box-shadow: 2.5px 4.3px 5px rgba(85, 85, 85, 0.15);
  z-index: 500;
  //   width:100%;left:0;top:85px;background-color:#fff;;
}

.hoverColor {
  color: $tertiary !important;
}

.cv-down {
  color: #fff;
}

.custom-header-links .headerLink .about-icon {
  display: none;
  height: 6px;
  width: 10px;
  margin-bottom: 1px;
}
.custom-header-links .headerLink .usecase-icon {
  display: inline-block;
  height: 6px;
  width: 10px;
  margin-bottom: 1px;
}
.custom-header-links .headerLink .download-icon {
  display: none;
  height: 6px;
  width: 10px;
  margin-bottom: 1px;
}
.custom-header-links .headerLink .documentation-icon {
  display: inline-block;
  height: 6px;
  width: 10px;
  margin-bottom: 1px;
}
.custom-header-links .headerLink .help-icon {
  display: inline-block;
  height: 6px;
  width: 10px;
  margin-bottom: 1px;
}

.arrow-down:after {
  content: "";
  position: relative;
  top: 8px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: solid 15px #ffffff;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

.clear_both {
  *overflow: hidden;
  *zoom: 1;
}
.clear_both:after {
  content: "";
  display: block;
  clear: both;
}

// .gnb_wrap{z-index:99;position:absolute;width:100%;left:0;top:85px;background-color:#fff;box-shadow:2.5px 4.3px 5px rgba(85, 85, 85, 0.15);}
.gnb_wrap.on_help:before {
  margin-left: 208px;
}
.gnb_wrap .gnb_right_cont {
  float: left;
  width: 440px;
  margin-top: 70px;
  padding-left: 50px;
  border-left: 1px solid #ddd;
}
.gnb_wrap.on_docu .gnb_cont_wrap {
  padding-top: 0;
}
.gnb_wrap.on_usecase:before {
  margin-left: 102px;
}
.gnb_wrap.on_help:before {
  margin-left: 208px;
}
.gnb_wrap .gnb_cont_wrap {
  position: relative;
  width: 1500px;
  left: 50%;
  margin-left: -500px;
  padding: 70px 0 50px;
}
.gnb_wrap .gnb_cont_wrap.no_explain {
  padding-top: 20px;
}
.gnb_wrap .gnb_menu_explain {
}
.gnb_wrap .gnb_menu_explain h3 {
  font-family: SamsungOneLatinWeb-700, NanumSquareWeb-700;
  font-size: 18px;
  color: #000;
}
.gnb_menu_addbtn .gnb_menu_explain_cont {
  float: left;
  width: 660px;
  margin-right: 20px;
}
.gnb_wrap .gnb_menu_explain_cont {
  padding-top: 5px;
  margin-bottom: 10px;
  font-family: SamsungOneLatinWeb-400, NanumSquareWeb-400;
  font-size: 16px;
  color: #656565;
}
.gnb_wrap .gnb_menu_explain_btn {
  width: 162px;
  height: 35px;
  margin-top: 10px;
  line-height: 33px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 18px;
  font-family: SamsungOneLatinWeb-700, NanumSquareWeb-700;
  font-size: 13px;
  color: #333;
}

.gnb_left_cont {
  float: left;
  width: 700px;
  margin-top: 70px;
}
// .gnb_left_cont .gnb_menu_list:nth-child(2n) a {
//   margin-right: 0;
// }
.gnb_menu_explain_cont {
  padding-top: 5px;
  margin-bottom: 10px;
  font-family: SamsungOneLatinWeb-400;
  font-size: 16px;
  color: #656565;
}
.gnb_menu_list {
  float: left;
  margin-top: 40px;
}
dl,
li,
menu,
ol,
ul {
  list-style: none;
}
.gnb_item_width {
  width: 285px;
}
.gnb_wrap .gnb_menu_list {
  float: left;
  margin-top: 40px;
  display: inline-block;
  width: 350px;
}
// .gnb_wrap .gnb_menu_list a{position:relative;width:285px;margin:0 80px 0 0;font-family:SamsungOneLatinWeb-400, NanumSquareWeb-400;font-size:16px;color:#656565;}
.gnb_wrap .gnb_menu_list .a_style {
  position: relative;
  width: 300px;
  margin: 0 80px 0 0;
  font-family: SamsungOneLatinWeb-400, NanumSquareWeb-400;
  font-size: 16px;
  color: #656565;
}
.gnb_wrap .on_docu .gnb_menu_list a {
  width: 310px;
  margin: 0 40px 0 0;
}
// .gnb_wrap .gnb_menu_list a:hover{color:#3922e5;}
// .gnb_wrap .gnb_menu_list a:hover .gnb_menu_name{color:#3922e5;}
// .gnb_wrap .gnb_menu_list a:hover .gnb_menu_link{color:#3922e5;text-decoration:underline;}

.gnb_wrap .gnb_menu_list .a_style:hover {
  color: #3922e5;
}
.gnb_wrap .gnb_menu_list .a_style:hover .gnb_menu_name {
  color: #3922e5;
}
.gnb_wrap .gnb_menu_list .a_style:hover .gnb_menu_link {
  color: #3922e5;
  text-decoration: underline;
}

.gnb_wrap .gnb_menu_list.menu_list_disable a:before {
  content: "";
  position: absolute;
  width: 360px;
  height: 100px;
  background-color: #fff;
  opacity: 0.5;
}
/*.gnb_wrap .gnb_menu_list.menu_list_disable a:after{content:"open in 2019";position:absolute;width:105px;height:28px;top:3px;left:140px;line-height:28px;border-radius:14px;background-color:#858585;text-align:center;font-family:SamsungOneLatinWeb-500, NanumSquareWeb-500;font-size:14px;color:#fff;}*/
.gnb_wrap .gnb_menu_list.menu_list_disable a:hover {
  color: #666;
  cursor: auto;
}
.gnb_wrap .gnb_menu_list.menu_list_disable a:hover .gnb_menu_name {
  color: #111;
}
// .gnb_wrap .gnb_menu_list.menu_list_disable:last-child a:after{left:100px;}
.gnb_wrap .gnb_menu_list .gnb_menu_icon:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon01:before {
  background: url($ico_gnb01) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon02:before {
  background: url($ico_gnb02) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon03:before {
  background: url($ico_gnb03) no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon04:before {
  background: url($ico_gnb04) no-repeat;
  background-size: 100%;
  width: 26px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon05:before {
  background: url($ico_gnb05) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon06:before {
  background: url($ico_gnb06) no-repeat;
  background-size: 100%;
  width: 26px;
  height: 32px;
}

.gnb_wrap .gnb_menu_list .gnb_menu_icon07:before {
  background: url($ico_gnb07) no-repeat;
  background-size: 100%;
  width: 28px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon08:before {
  background: url($ico_gnb08) no-repeat;
  background-size: 100%;
  width: 26px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon09:before {
  background: url($ico_gnb09) no-repeat;
  background-size: 100%;
  width: 24px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon10:before {
  background: url($ico_gnb10) no-repeat;
  background-size: 100%;
  width: 40px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon11:before {
  background: url($ico_gnb11) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon12:before {
  background: url($ico_gnb12) no-repeat;
  background-size: 100%;
  width: 26px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon15:before {
  background: url($ico_gnb15) no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
}

.gnb_wrap .gnb_menu_list .gnb_menu_icon01:hover:before {
  background: url($ico_gnb01_on) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon02:hover:before {
  background: url($ico_gnb02_on) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon03:hover:before {
  background: url($ico_gnb03_on) no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon04:hover:before {
  background: url($ico_gnb04_on) no-repeat;
  background-size: 100%;
  width: 26px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon05:hover:before {
  background: url($ico_gnb05_on) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon06:hover:before {
  background: url($ico_gnb06_on) no-repeat;
  background-size: 100%;
  width: 26px;
  height: 32px;
}

.gnb_wrap .gnb_menu_list .gnb_menu_icon07:hover:before {
  background: url($ico_gnb07_on) no-repeat;
  background-size: 100%;
  width: 28px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon10:hover:before {
  background: url($ico_gnb10_on) no-repeat;
  background-size: 100%;
  width: 40px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon11:hover:before {
  background: url($ico_gnb11_on) no-repeat;
  background-size: 100%;
  width: 30px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon12:hover:before {
  background: url($ico_gnb12_on) no-repeat;
  background-size: 100%;
  width: 26px;
  height: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon15:hover:before {
  background: url($ico_gnb15_on) no-repeat;
  background-size: 100%;
  width: 32px;
  height: 32px;
}

.gnb_wrap .gnb_menu_list .gnb_menu_name {
  padding: 0 0 0 38px;
  line-height: 34px;
  font-family: SamsungOneLatinWeb-600, NanumSquareWeb-600;
  font-size: 20px;
  color: #000;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon07 .gnb_menu_name {
  padding-left: 36px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon08 .gnb_menu_name {
  padding-left: 34px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon09 .gnb_menu_name {
  padding-left: 32px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon10 .gnb_menu_name {
  padding-left: 48px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon15 .gnb_menu_name {
  padding-left: 40px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon12 .gnb_menu_name {
  padding-left: 34px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_icon07 .gnb_menu_cont {
  min-height: 45px;
}
.gnb_wrap .gnb_menu_list .gnb_menu_cont {
  line-height: 22px;
  letter-spacing: -0.02em;
}
.gnb_wrap .gnb_menu_list .gnb_menu_link {
  padding-left: 10px;
  font-family: SamsungOneLatinWeb-700, NanumSquareWeb-700;
  font-size: 14px;
  color: #333;
}
.gnb_wrap .gnb_menu_list .gnb_menu_link:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 11px;
  margin: 2px 0 0 -10px;
  background: url($ico_btnlink) no-repeat;
}
.gnb_wrap .gnb_menu_list:hover .gnb_menu_link:before {
  background: url($ico_btnlink_on) no-repeat;
}
.gnb_wrap .gnb_menu_list:last-child a dl {
  width: 365px;
}

.gnb_menu_list {
  position: relative;
}
.gnb_wrap .gnb_menu_list a:hover .gnb_menu_link {
  color: #3922e5;
  text-decoration: none;
}
.gnb_menu_link {
  margin-top: 10px;
}
.usecase_open_in {
  position: absolute;
  width: 105px;
  height: 28px;
  top: 3px;
  left: 140px;
  line-height: 28px;
  border-radius: 14px;
  background-color: #858585;
  text-align: center;
  font-family: SamsungOneLatinWeb-500, NanumSquareWeb-500;
  font-size: 14px;
  color: #fff;
}
.btn_language_header {
  font-size: 13px;
  margin-right: 0px;
  vertical-align: middle;
  font-family: SamsungOneLatinWeb-400, NanumSquareWeb-400;
  padding-top: 2px;
  float: left;
}
.common_select_header {
  width: 125px;
  box-sizing: border-box;
  font-family: SamsungOneLatinWeb-400, NanumSquareWeb-400;
  cursor: pointer;
  color: #656565;
}
.common_select_title {
  padding: 0px 15px 0px 0px;
  border-bottom: 1px solid transparent;
  color: hsla(0, 0%, 100%, 0.6);
  background: url($arrow_more_gray) no-repeat right 5px;
}

.d-header-icons {
  height: 80px;
  display: inline-block;
  width: 245px;
  margin-top: 10px;
}

.common_select_cont_header {
  position: absolute;
  width: 114px;
  padding: 10px 0;
  margin-top: -1px;
  border: 1px solid #ccc;
  border-top: 1px solid #1743d5;
  background-color: #fff;
  -webkit-box-shadow: 2.5px 4.3px 5px rgba(85, 85, 85, 0.15);
  box-shadow: 2.5px 4.3px 5px rgba(85, 85, 85, 0.15);
  z-index: 2000;
}

.li_pr {
  padding-right: 12px !important;
}

.header-buttons button {
  display: none;
}

.login-link {
  width: 80px;
  box-sizing: border-box;
  font-family: SamsungOneLatinWeb-400, NanumSquareWeb-400;
  color: hsla(0, 0%, 100%, 0.6) !important;
  cursor: pointer;
  color: #656565;
}

.login-link:hover {
  text-decoration: underline;
}

.d-header-icons li:nth-last-of-type(2) {
  float: right;
}

.d-header-icons li:nth-last-of-type(1) {
  float: right;
}

.btn_github {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 27px;
}
.btn_github:before {
  content: "";
  position: absolute;
  top: 0;
  height: 15px;
  margin: 3px 0 0 -26px;
  opacity: 0.2;
  border-left: 1px solid #fff;
}
.btn_github:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-image: url($ico_github);
  background-size: 100% 100%;
  opacity: 0.6;
}
.btn_github:hover:after {
  opacity: 1;
}
.brightics-icon {
  height: 18px !important;
  width: 18px !important;
}

.brightics-icon img {
  width: 24px !important;
  height: 24px !important;
}
